<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta' %>
    <title>Webzide Page Editor - Webzide Builder Version 0</title>

    <%= render 'dashboard/stylesheets' %>

    <%= render 'dashboard/scripts'  %>


    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  </body>
</html>


