      <div id="content">



        <section class="round">
          <% flash.each do |key, value| %>
            <div class="flash <%= value %>">
              <%= value %>
           </div>
          <% end%>
        </section>

        <div class="welcome-table">
          <div class="welcome-table-header">
            Welcome to Your Webzide Dashboard
          </div>

          <div class="welcome-table-content">
            Webzide provides you with the options to view and edit your own Webzide.
            Currently, during the alpha stage of our product development, users could only access a single page which will become the default home page.
            Webzide is working on a scalable framework which allow users to add multiple pages create dynamic links among those pages.
            
          </div>
        </div>


  		<div class="tab">
    		<table class="tab-table">
  			   <tr class="tab-top">
  			   <td colspan="4" id="add-page">Customize your new Webzide
                             <%-# link_to "Add New Page", edit_zide_path(current_user) -%>
                           </td>
  			   </tr>

  			   <tr>
  			   	   <td class="page-name">Default Home Page</td>
  				   <td class="page-view"><%= link_to 'View',  @zide %></td>
  				   <td class="page-edit"><%= link_to 'Edit', edit_zide_path(@zide) %></td>
  				   <td class="page-delete">/</td>
  			   </tr>
  			   </table>
		</div>

      </div>