a:link, a:hover, a:active, a:visited{
text-decoration: none;
color: black;
}

body{
margin: 0;
width: 100%;
height: 100%;
font-family: 'Arial', 'sans-serif';
}

#webzide_page{
width: 100%;
height: 630px;
background: none;
left: 0px;
top: 0px;
}

#top{
margin-top: 3px;
height: 18%;
width: 100%;
background: black;
}

#logo_bar{
    background: black;
    height: 100px;
    width: 100%;
}

#logo{
padding-left: 12%;
float: left;
padding-top: 1%;
}

#logo-span{
color: white;
font-size: 40px;
font-weight: bold;
font-family: Verdana, sans-serif;
}

#logo-span a:link, #logo-span a:visited{
    color: white
}

#version{
    color: #666666;
    float: left;
    font-size: small;
    padding-top: 5px;
    padding-left: 6px;
}

#slogan{
    float: right;
    padding-right: 120px;
    padding-top: 25px;

}

#slogan-span{
    color: #FFFFFF;
    font-style: italic;
    font-size: medium;
}

#nav{

background: #E6E6E6;
display: block;
font-size: 11pt;
border-top: 1px solid #000000;
height: 28%;
margin: auto;

}

#nav-wrapper{
    display: block;
    float: right;
    text-align: center;
    margin: auto;

}

.nav-subdiv{
    float: left;
    width: 103px;
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
    background: #E6E6E6;
    border-left: 1px solid rgb(200,200,200);
    background: rgb(200,200,200);
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    display: block;
    border-top: 5px solid #666666;
}


.nav-subdiv:hover{
    background: #666666;
    color: #FFFFFF;

}

.current{
    text-align: center;
    width: 100px;
    height: 26px;
    float: left;
    background: #E6E6E6;
    display: block;
    border-top: 5px solid #666666;

}


#nav a{
    
}


#authen{

border: solid 1px black;
width: 100%;
height: 33px;
background: #E6E6E6;

}

#authen-span{
    text-align: left;
    margin-left: 12%;
    font-size: 14px;
    margin-top: 4px;
    vertical-align: bottom;
}


#logout-button{
    float: right;
    height: 100%;
    margin: 0;
    padding: 0px 4px;
}


#logout-text{
    font-weight: bold;
}

#logout-text a:hover{
    text-decoration: overline underline;
}

#content{
    text-align: left;
    background:white;
    padding: 2% 12% 5% 12%;
    
}

.paragraph_home{

text-indent: 3em;
font-size: 15px;

}

.paragraph_home a:link{
    font-weight: bold;
    text-decoration: underline;
}

#p1:first-letter{
    font-weight: bold;
    font-size: x-large;
}

#hotbuttons{
    height: 100px;
    width: 100%;

}

#signup{

float: left;

}

#hotbuttons a:link, #hotbuttons a:visited{
    color: white;
}

.top-span{
    font-family: arial;
    font-size: 25px;
}

.bottom-span{
    font-size: 13px;
}

#demo{
    float: right;

}

.button{
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 6px 0;
    padding: 3px;
    width: 330px;
    height: 70px;
    border: 1px solid black;
    background: #666666;
    font-weight: bold;
    text-align: center;
    -moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}

#footer{

width: 100%;
height: 160px;
background: #666666;
color: #FFFFFF;
border-top: 1px solid black;

}

#foot{
    padding-top: 30px;
    
    width: 700px;
   margin: auto;

    
}

.footerdiv{
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.footerdiv ul li{
    font-weight: normal;
    font-size: 11pt;
}

.footerdiv ul li a{
    color: white;
    font-size: 11pt;
}

.footerdiv ul li a:hover{
    text-decoration: overline underline;
}

.footer-legend{
    font-size: 12pt;
    text-decoration: underline;
}

#copyright{
    background: black;
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
    font-size: 12px;
    padding: 6px 0px;
}

#controller{
    margin: 50px auto;

    width: 700px;
    height: 45px;
    background: black;
    color: white;
    font-size: 15px;
    
}

#controller td{
    border-collapse: collapse;
    border: 1px solid white;;
    font-weight: bold;

}

#controller a:link, #controller a:hover, #controller a:visited{
    color: white;
}

.form_row{
    margin: 10px;
}

.authen_field{
    float: left;
    padding: 0px 4px;
}

.authen_elements{
    float: left;
    padding: 3px 4px;
}

.authen_user{
    padding: 5px;
}

.register_button{
    font-weight: bold;
}

.register_button a:hover{
    text-decoration: overline underline;
}

.user_name{
    font-style: italic;
    font-weight: bold;
}

.user_name a:hover{
    text-decoration: underline;
    
}

input[type=submit]{
			 background:black !important;
			 color: white !important;
			 border-width: thin !important;
			 }

button{			 background:black !important;
			 color: white !important;
			 border-width: thin !important;

}

div#spec_div{
             width: 400px;
             margin: 30px auto;
}

.profile-tab{
    width: 70%;
    
    border: 1px solid black;
    font-size: 12pt;
    margin-left: 15%;
    margin-right: 15%;
    
}



.tab-top{
    border-bottom: 1px solid black;
    background: #666666;
    text-align: right;
    font-size: 11pt;
    color: white;
    
}

.tab-top a:link, .tab-top a:visited {
    color: white;
    font-size: 11pt;
    margin-right: 5px;
}

.page-name{
      background: #E6E6E6;
      font-weight: bold;
      width: 40%;

}


.page-edit,  .page-view, .page-delete{

    width: 20%;

}

.tab{
    width: 70%;


    font-size: 12pt;
    margin-left: 15%;
    margin-right: 15%; }

.tab-table{
	width: 100%;
        border: 1px solid black;
        border-spacing: 2px;
}

.tab td{
	 border: 1px solid black;
         text-align: center;
}

.tab #add-page{
    text-align: right;
}

#edit a:link, #edit a:visited{
    color: #FFFFFF;
    
}

.profile-legend{
    height: 100%;
    width: 25%;
    background: rgb(200,200,200);
    border-right: 1px solid black;
    font-weight: bold;

    font-size: 10pt;
}

.profile-value{
    width: 75%;
}

#profile_content{
    text-align: center;
}

#tab-edit{
  text-align: right;
  padding: 2px;
}

.oddrow{
    background: #FFFFFF;
}

.evenrow{
    background: #E6E6E6;
}

#error_explanation{
    background: #E6E6E6;
    border: 1px solid black;
}

#error_explanation ul li{
    font-weight: bold;
}

.field_with_errors input{
    border: 1px solid red;
}

.round{
    background: #E6E6E6;
}

.suggestion_tab{
    width: 70%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    background: #E6E6E6;
    
}

.suggestion_box{
        border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

.suggestion_content{
    font-size: 12pt;
}

#suggestion_field{
    height: 80px;
    width: 523px;
}

#suggestion_number{
    font-size: 11pt;
    text-align: center;
    color: white;
    background: #666666;
}

.field{
    width: 70%;
    margin: auto;
    height: 47px;

}

.field_label{
    float: left;
    padding-top: 6px;

}

.field_input{
    float: right;
}

.tos{
    width: 80%;
    margin: auto;
}

.tos textarea{
    height: 120px;
}

.suggest_field{
    width: 70%;
    margin: auto;
}

.left_menu{
background: #E6E6E6;
float: left;
border-top: 6px solid #666666;
width: 130px;

}

.menu_item{
                   font-size: 12pt;
		   padding: 8px;
                   padding-left: 25px;
		   border-bottom: 1px solid black;
                   border-right: 1px solid black;
 }

 .menu_item_on{
                   font-size: 12pt;
		   padding: 8px;
                   padding-left: 25px;

		   border-bottom: 1px solid black;
                   background: white;
 }

 .users_tab{
     width: 70%;
     margin: auto;
     border-spacing: 3px;
     border: 1px solid black;
    
}

.users_tab tr{
    
}

.users_td{
    background: #E6E6E6;
    border: 1px solid black;
    border-collapse: collapse;
 padding: 3px;
}



.users_legend_tr{
    background: #666666;
}

.users_legend_tr td{
    padding: 3px;
    color: white;
    font-size: larger;
}

.username_legend{
    width: 30%;
    text-align: center;
    font-size: larger;
}

.email_legend{
    width: 60%;
    text-align: center;
    font-size: larger;
}

.users_badge{
    text-align: center;
    vertical-align: middle;
}

.welcome-table{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.welcome-table-header{
    background: #666666;
    color: white;
    padding: 2px;
    font-size: 11pt;
}

.welcome-table-content{
    background: #E6E6E6;
    font-size: 10pt;
    padding: 8px;
    text-indent: 3em;
}

.authen_form{
    width: 70%;
    margin: auto;
}

.tos_content{
    width: 100%;
    height: 130px;
    
    overflow: scroll;
}

.tos_title{
    font-size: 11pt;
    font-weight: bold;
}

.actions{
    width: 80%;
    padding-top: 8px;
    margin: auto;
    text-align: right;
}

#videoStrip{
    background: #E6E6E6;
    height: 230px;
    border: 1px solid black;
}

#leftVid{
    float: left;
    margin: 15px 0 0 10px;
}

#rightVid{
    float: right;
    margin: 15px 10px 0 0;
}

.sub_menu{
    background: #666666;
    color: white;
    height: 30px;

    font-size: 16pt;
    width: 300px;
    margin-bottom: 20px;
}

.sub_menu_item a:link, .sub_menu_item a:hover, .sub_menu_item a:visited{
    color: white;
}

.about_title{


}

.about_title span{
    text-decoration:overline underline;
    background: #E6E6E6;
}