a:link, a:hover, a:active, a:visited{
text-decoration: none;
color: black;
}

body{
margin: 0;
width: 100%;
height: 100%;
font-family: 'Arial', 'sans-serif';
}

#webzide_page{
width: 100%;
height: 630px;
background: none;
left: 0px;
top: 0px;
}

#top{
margin-top: 3px;
height: 100px;
width: 100%;
background: black;
}

#logo{
margin-left: 10%;
margin-top: 1%;
float: left;
}

#logo-span{
color: white;
font-size: 40px;
font-weight: bold;
font-family: Verdana, sans-serif;
}

#logo-span a:link, #logo-span a:visited{
    color: white
}

#version{
    color: #666666;
    float: left;
    font-size: small;
    padding-top: 5px;
    padding-left: 6px;
}

#slogan{

    margin: 2.5% 33% 50% 50%;

}

#slogan-span{
    color: #FFFFFF;
    font-style: italic;
    font-size: medium;
}

#nav{

background: #E6E6E6;
display: block;
font-size: 14pt;
border-top: 1px solid #000000;
height: 30px;
margin: auto;

}

#nav-wrapper{
    display: block;
    float: right;
    text-align: center;
    margin: auto;

}

.nav-subdiv{
    float: left;
    width: 100px;
    text-align: center;
    background: #E6E6E6;
    border-left: 1px solid rgb(200,200,200);
    background: rgb(200,200,200);
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    display: block;
}


.nav-subdiv:hover{
    background: #666666;
    color: #FFFFFF;

}

.current{
    text-align: center;
    width: 100px;
    height: 30px;
    float: left;
    background: #E6E6E6;
    display: block;

}


#nav a{
    
}


#authen{

border: solid 1px black;
width: 100%;
height: 33px;
background: #E6E6E6;

}

#authen-span{
    text-align: left;
    margin-left: 10%;
    font-size: 14px;
    margin-top: 4px;
    vertical-align: bottom;
}

#logout-text{
    font-weight: bold;
    text-decoration: underline;
}

#content{
    text-align: left;
    background:white;
    padding: 2% 10% 10% 10%;
    
}

#p1{

text-indent: 3em;
font-size: 15px;
}

#p1:first-letter{
    font-weight: bold;
    font-size: x-large;
}

#hotbuttons{
    width: 100%;

}

#signup{

float: left;

}

#hotbuttons a:link, #hotbuttons a:visited{
    color: white;
}

.top-span{
    font-family: arial;
    font-size: 25px;
}

.bottom-span{
    font-size: 13px;
}

#demo{
    float: right;

}

.button{
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 5% 10px 0;
    width: 330px;
    height: 70px;

    background: #666666;
    font-weight: bold;
    text-align: center
}

#footer{
text-align: left;
width: 100%;
height: 180px;
background: #666666;
color: #FFFFFF;
clear: both;
border-top: 1px solid black;
}

#foot{
    padding-top: 30px;
    width: 100%;
    
}

.footerdiv{
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.footerdiv ul li{
    font-weight: normal;
}

.footerdiv ul li a{
    color: white
}

.footerdiv ul li a:hover{
    text-decoration: overline underline;
}

#copyright{
    background: black;
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
    font-size: 12px;
    padding: 6px 0px;
}

#controller{
    margin: 50px auto;

    width: 700px;
    height: 45px;
    background: black;
    color: white;
    font-size: 15px;
    
}

#controller td{
    border-collapse: collapse;
    border: 1px solid white;;
    font-weight: bold;

}

#controller a:link, #controller a:hover, #controller a:visited{
    color: white;
}

.form_row{
    margin: 10px;
}

.authen_field{
    float: left;
    padding: 0px 4px;
}

.authen_elements{
    float: left;
    padding: 3px 4px;
}

.authen_user{
    padding: 5px;
}

.register_button{
    font-weight: bold;
}

.register_button a:hover{
    text-decoration: underline;
}

.user_name{
    font-style: italic
}

.user_name a:hover{
    text-decoration: underline;
    
}

input[type=submit]{
			 background:black !important;
			 color: white !important;
			 border-width: thin !important;
			 }

div#spec_div{
             width: 400px;
             margin: 30px auto;
}