body{
    position:absolute;
    width: 100%;
    height: 100%;

}

button{
	background: rgb(221,221,221);
	color: black;
	width: 45px;
	font-size: 11px;
	border-width: 1px;
}

input[type="submit"]{
	background: rgb(0,0,0);
	color: white;
	width: 45px;
	font-size: 11px;
	border-width: 1px;
}
