

#header {
	background: transparent url(../images/header_style_5.png) repeat-x;
	height:72px;
}

#toolbar {
	background: transparent url(../images/bottom_header_style_5.png) repeat-x;
	height:71px;
}

