
<article>
  <p>
    1. LIMITATION OF USAGE<br />

There will be absolutely no Adult content on the webpage.
Nothing defamatory that violates any human right laws or the laws within the local jurisdiction.
Any violation will result in an immediate termination of service to that user.
  </p>
  <p>
2. COPYRIGHTED CONTENT<br />

The user must also agree to not posting any content will violates any trademarks or copyright laws.
Any violation will result in an immediate termination of service to that user.
  </p>
  <p>
3. TERMINATION OF SERVICE<br />

The services provided by Webzide may be terminated at anytime by both parties: the provider and the end user.
The service provider will have the sole discretion to delete any part of the content in the page or user account.
  </p>
  <p>
4. DATA LOSS<br />

Webzide or any of its developers, will not be held responsible for any data loss as a result of termination of services.

  </p>
  <p>
5. SERVICES INTERUPTION<br />

Due to the fact that webzide is currently under constant change and development.
There may be service downtimes due to software upgrades and network maintenance.
If this happens, we like to ask our users to remain patient"

  </p>