	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/gallery_intro.png" alt="about-intro"/>Legal Policies</p>

			<p id="page-description">
</p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-inner" class="container">

	<h1>Legal Policies</h1>
	<p>  All of the code and design on http://www.webzide.com belongs to <b>Xuan Duan (Dennis)</b> and he withheld all of the copyright unless otherwise specified in the code.

  Any violation of copyright laws will be taken legal actions.

  The documents/software/program/code, or any portions of it may not be cited,
  reproduced or redistributed without express written consent of the Author.</p>	</div> <!-- End Subpage -->

	<div class="clr divider"></div>
