<div id="content">
  <h3><u>Legal Policies</u></h3>

  <p class="paragraph_home">
  All of the code and design on http://www.webzide.com belongs to <b>Xuan Duan (Dennis)</b> and he withheld all of the copyright.

  Any violation of copyright laws will be taken legal actions.

  The documents/software/program/code, or any portions of it may not be cited, 
  reproduced or redistributed without express written consent of the Author.
  </p>
</div>