	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/gallery_intro.png" alt="about-intro"/>Terms of Service</p>

			<p id="page-description">
</p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-inner" class="container">

	<h1>Terms of Service</h1>
	<p> <%= render "shared/tos" %>
</p>	</div> <!-- End Subpage -->

	<div class="clr divider"></div>



<div id="content">
  <h3><u></u></h3>
  

</div>