<div class="main">

  <h2>Welcome to Webzide</h2>
  <p id="p1" class="paragraph_home">
  Webzide offers FREE remotely generated websites for users and organizations. Our service is 100% free of charge. The website is generated using an fully integrated and dynamic "What You See is What You Get" web editor. There is no ads, no catch, and no hidden fee. Members could enjoy full features and functionalities from the start. The team Webzide is working hard everyday to bring in new features and updates.
  </p>

  <p id="p2" class="paragraph_home">
    Our Mission statement is to allow Internet users to create beautiful, elegant, and professional looking Websites with no background in programming or web development. The core benefits proposition of Webzide is to provide a full service of Web designing, web hosting, sub-domain routing, and updating websites in the most convenient, intuitive, and customizable fashion.
  </p>

  <div id="hotbuttons">

    <a href="/register">
     <div id="signup" class="button">
      <span class="top-span">
        Create a free web site
      </span>
       <br/>
      <span class="bottom-span">
         Standard-compliant, Clean & Simple
      </span>
     </div>
    </a>

    <a href="/demo">
     <div id="demo" class="button">
      <span class="top-span">
        Webzide Builder Demo
      </span>
       <br/>
      <span class="bottom-span">
         dynamic, intuitive & remote web pages
      </span>
     </div>
    </a>


  </div>

</div>