	<div id="content-slider">

		<div id="content-slider-wrapper" class="slider-wrapper carbon">
			<div>

				<h3>Welcome to Your Webzide!</h3>

				<p>Webzide offers FREE remotely generated websites for users and organizations. Our service is 100% free of charge. The website is generated using an fully integrated and dynamic "What You See is What You Get" web editor. There is no ads, no catch, and no hidden fee.</p>
 <%= form_for(:session, :url => sessions_path) do |form| %>
                <input class="login" id="session_name" maxlength="20" name="session[name]" size="15" type="text" value = "Username" />
                <input class="login" id="session_password" maxlength="30" name="session[password]" size="15" type="password" value = "Password" />
                <%= submit_tag("Login", :class=> "button medium submit")%>
                
     <% end %>
                <img src="../../images/site/slide_1_picture.png" alt="picture" class="slide-picture"/>

			</div><!-- End First Slide -->

		</div><!-- End Content Slider Wrapper -->

			<ul id="slider-navigation" class="slider-wrapper">
				<li><a href="#">Welcome to Your Webzide</a></li>
			</ul>

	</div><!-- End Content Slider -->

	<div class="clr"></div>

	<div id="toolbar">

		<div id="toolbar-wrapper" class="global-wrapper">
                  <a href="/register">
			<div id="offer" class="bar">
            	<span class="ribbon-free"></span>
				<h4 style="text-align: center">Create a Free Website</h4>
                                </a>
			</div>
                  

                   
			<div id="domain" class="bar">
                          <a href="/demo">
				<h4 style="text-align: center">Webzide Builder Demo</h4>

                          </a>

			</div>
                  
		</div><!-- End Toolbar Wrapper -->

	</div><!-- End Tool Bar -->

	<div class="clr"></div>

	<div id="services" class="global-wrapper">

			<div class="service-widget first-service">
				<h4>Webzide Integrated Text Editor (WITE)</h4>
				<p>At vero eos et accusamus et iusto odio dignisimo ducimus quiblo blanditiis praesentium</p>
				<a href="#">Read More &raquo;</a>
			</div>

			<div class="service-widget second-service">
				<h4>Webzide Subdomain Router</h4>
				<p>At vero eos et accusamus et iusto odio dignisimo ducimus quiblo blanditiis praesentium</p>
				<a href="#">Read More &raquo;</a>
			</div>

			<div class="service-widget third-service">
				<h4>Webzide Template Formatter</h4>
				<p>At vero eos et accusamus et iusto odio dignisimo ducimus quiblo blanditiis praesentium</p>
				<a href="#">Read More &raquo;</a>
			</div>

			<div class="service-widget">
				<h4>Webzide Canvas Generator</h4>
				<p>At vero eos et accusamus et iusto odio dignisimo ducimus quiblo blanditiis praesentium</p>
				<a href="#">Read More &raquo;</a>
			</div>

			<div class="clr"></div>

	</div><!-- End services -->