<h3 class="about_title"><span>About Webzide</span></h3>


<p class="paragraph_home">
  Webzide is created with the inspiration to automate the science of website development mechanics and enabling the art of web design. It's primary goal is to give the folks who do not have a web design background a chance to dynamically generate beautiful and elegant web pages on the fly.

</p>


<p class="paragraph_home">
  The Webzide Builder will be intuitive in nature.
  It will resemble the common accepted principles and tools implemented in a similar fashion as the image editing software such as Adobe Photoshop and Fireworks.
  It will also have the typographic expressiveness that resembles that of the Microsoft Word.

</p>

<p class="paragraph_home">
  This "modeling" principle of software development will empower the users by providing them with a easier transition from getting to know how to use the Webzide builder.
</p>

<p class="paragraph_home">
  At the moment, webzide is at the alpha stage of development. There will be an ongoing series of improvements and addons each and everyday.

  There are countless of ideas and features we have on our mind. These changes will be made as we move along our product development cycle.
</p>



