<h3 class="about_title"><span>The Webzide Advantage</span></h3>

  <p class="paragraph_home">
    Webzide is a product of an new wave of Web2.0 software application model.
    The webzide platform is made possible by emerging technologies of HTML 5, CSS level 3, and Jquery.
    The webzide builder software is developed only using vanilla Javascript equipped with the newest version of Jquery.

  </p>

  <p class="paragraph_home">
    This is very advantageous because all of the processing and the rendering are done on the client-side.
    This dramatically speeds up the application.
    There will fewer calls made to the server unless it is absolutely necessary.

  </p>


  <p class="paragraph_home">
    This will save both resources of time and bandwidth.
    All of these are made possible by the renaissance of DHTML, Javascript and its abstract libraries such as Jquery which really have closed the gap between web applications and desktop application sover the years
    Webzide is developed to take full advantage of this emergence.
  </p>

