<%= render 'about/about_menu' %>

<div id="content">
  <h3 class="about_title"><span>Easiness</span></h3>


  <p class="paragraph_home">
    Webzide is built to empower the users and the web designers. It's main focus is to save them time and resources by building a layer of abstraction.
  </p>

  <h3 class="about_title"><span>Customizability</span></h3>
  <p class="paragraph_home">
  </p>
</div>