	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/gallery_intro.png" alt="about-intro"/>About Webide</p>

			<p id="page-description"> The core benefits proposition of Webzide is to provide a full service of Web designing, web hosting, sub-domain routing, and updating websites in the most convenient, intuitive, and customizable fashion.
</p>

		</div>

	</div><!-- End Subpage Introduction -->

        <div style="width:100%;">
        <%= render 'layouts/sidebar' %>
          <div id="subpage-inner" class="container" style="margin: 0 200px;">


          <h1>Easiness</h1>
          <p>
                Webzide is built to empower the users and the web designers. It's main focus is to save them time and resources by building a layer of abstraction.



          </p>

          <h1>Customizability</h1>
          <p>
                Webzide is highly customizable


          </p>


          </div> <!-- End Subpage -->

        <div>

	<div class="clr divider"></div>
