<%= render 'about/about_menu' %>

<div id="content">

<h3>Contact Us</h3>

<p id="p1">
  If you have any suggestions, please email the administrator at
  <a href="mailto:admin@webzide.com"><span style="color: blue; font-weight: bold">admin@webzide.com</span></a>. Techinical Questions and Inquiries are also welcome.

</p>

</div>