<%= render 'about/about_menu' %>

<div id="content">
  <h3 class="about_title"><span>Interactive/Easy to use Tools</span></h3>


  <p class="paragraph_home">
    The bread and butter of the webzide application are the Toolbars which empowers the users to create the result they desire.
    Those tools are intuitive in nature and new users could quickly become familiar with them. Background in software such as Microsoft Word or Adobe Photoshop will quicken the process.

  </p>

  <div id="bread_image"><%= image_tag "app/bread.png" %></div>

  <div id="butter_image"><%= image_tag "app/butter.png" %></div>

  <p class="paragraph_home">
  </p>
</div>