	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/gallery_intro.png" alt="about-intro"/>Webzide Features</p>

			<p id="page-description"> The core benefits proposition of Webzide is to provide a full service of Web designing, web hosting, sub-domain routing, and updating websites in the most convenient, intuitive, and customizable fashion.
</p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-inner" class="container">

	<h1>Interactive/Easy to use Tools</h1>
	<p>
              The bread and butter of the webzide application are the Toolbars which empowers the users to create the result they desire.
    Those tools are intuitive in nature and new users could quickly become familiar with them. Background in software such as Microsoft Word or Adobe Photoshop will quicken the process.

        </p>

          <div id="bread_image"><%= image_tag "app/bread.png" %></div>

  <div id="butter_image"><%= image_tag "app/butter.png" %></div>
	</div> <!-- End Subpage -->

	<div class="clr divider"></div>
