<h3>
  Webzide features
</h3>

<p id="p1" class="paragraph_home">
  Webzide is in the process of massive improvements in terms of its features.
  Currently, it has drag and drop, click and draw, and resize features.
  Please feel free to make any suggestions
</p>