	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/about_intro.png" alt="about-intro"/>About Our Company</p>

			<p id="page-description">In vulputate ante non velit laoreet congue. Pellentesque mauris sapien, porta sed ullamcorper id, varius id lacus.</p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-about" class="container">

		<div class="profile-info">

			<div class="one_fourth">
				<div class="profile_frame">
					<img src="../../images/site/profile_sample.png" alt="sample"/>
				</div>
			</div>

			<div class="three_fourth last">
				<h4>Xuan Duan (Dennis)</h4>
				<h5>Project Lead</h5>
                                Education: Entrolled in Undergraduate Studies at Wilfrid Laurier University & University of Waterloo
                                <br>
                                Degree/Discipline: Computer Science (UW) and Business Administration (WLU)
				<p>He is the inceptionist of Webzide. He is person that programmed the entire Application by himself up to this point. Currently, he is the sole developer. However, He is open minded on the possibility of have others on board whom will share the same vision as Webzide to work as a team.

Although he always had aspirations of developing a web application, he started the actual development of Webzide in the summer of 2010. He believes passionate in hard work and service to others. His sole purpose and inspiration of creating Webzide is to put his talent and motivations into good work.

During September 2010 - April 2011. He was preoccupied by the demands of his school work. The project Webzide had been placed on the side. However, during the spring of 2011. He has recommited himself to work on his project. He has received many positive feedbacks on his project and he is motivated to continue to work hard on it. </p>

				<a href="#">John Doe Websites.</a> <a href="#">Twitter Profile.</a>

			</div>

		</div><!-- End Profile info -->

		<div class="clr divider"></div>

	</div> <!-- End Subpage -->

	<div class="clr divider"></div>