<%= render 'about/about_menu' %>

<div id="content">

<h3>Founders</h3>

<div id="profile_header">

  <div id="dennis_photo">
    <img width="213" height="266" src="http://img98.imageshack.us/img98/2491/n7247969816462793746.jpg"></img>
  </div>

  <div id="profile_info">
    Name: Xuan Duan (Dennis)<br />
    gender: Male<br />
    Education: Enrolled in Undergraduate Studies at Wilfrid Laurier University  & University of Waterloo<br />
    Degree/Discipline: Computer Science (UW) and Business Administration (WLU) Double Degree<br />
    Hobbies/Interests: Web development/basketball
  </div>

</div>

<div>
  <h3 class="about_title"><span>Affiliation with Webzide</span></h3>

  <p class="paragraph_home">
    He is the inceptionist of Webzide.
    He is person that programmed the entire Application by himself up to this point.
    Currently, he is the sole developer.
    However, He is open minded on the possibility of have others on board whom will share the same vision as Webzide to work as a team.



  </p>

  <p class="paragraph_home">
    Although he always had aspirations of developing a web application, he started the actual development of Webzide in the summer of 2010.
    He believes passionate in hard work and service to others.
    His sole purpose and inspiration of creating Webzide is to put his talent and motivations into good work.

  </p>

  <p class="paragraph_home">
    During September 2010 - April 2011. He was preoccupied by the demands of his school work. The project Webzide had been placed on the side.
    However, during the spring of 2011. He has recommited himself to work on his project. 
    He has received many positive feedbacks on his project and he is motivated to continue to work hard on it.
  </p>

  <p class="paragraph_home">
    
  </p>

</div>

<p id="paragraph_home">


</p>

</div>