<h2>About Webzide</h2>

<p class="paragraph_home">
  Webzide is created with the inspiration to automate the science of website development mechanics and enabling the art of web design. It's primary goal is to give the folks who do not have a web design background a chance to dynamically generate beautiful and elegant web pages on the fly.

  Currently, Webzide is on the alpha stage of development. There will be an onging series of improvements and addons each and everyday.

  Feel free to give us some feedbacks on the contact page. Your opinions and inputs are valued highly.

</p>