<%= render 'about/about_menu' %>

<div id="content">

  <!--
  <div class="sub_menu">
    <div class="sub_menu_item">
      <a href="/about/advantages">Advantages</a>
    </div>

  </div>
  -->

   <%= render 'about/about_body_text' %>


   <%= render 'about/advantage_body_text' %>



</div>