	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/gallery_intro.png" alt="about-intro"/>About Webide</p>

			<p id="page-description"> The core benefits proposition of Webzide is to provide a full service of Web designing, web hosting, sub-domain routing, and updating websites in the most convenient, intuitive, and customizable fashion.
</p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-inner" class="container">

	<h1>Product/Service Summary</h1>
	<p>Webzide is created with the inspiration to automate the science of website development mechanics and enabling the art of web design. It's primary goal is to give the folks who do not have a web design background a chance to dynamically generate beautiful and elegant web pages on the fly.

The Webzide Builder will be intuitive in nature. It will resemble the common accepted principles and tools implemented in a similar fashion as the image editing software such as Adobe Photoshop and Fireworks. It will also have the typographic expressiveness that resembles that of the Microsoft Word.

This "modeling" principle of software development will empower the users by providing them with a easier transition from getting to know how to use the Webzide builder.

At the moment, webzide is at the alpha stage of development. There will be an ongoing series of improvements and addons each and everyday. There are countless of ideas and features we have on our mind. These changes will be made as we move along our product development cycle. </p>

	<h1>Mission Statement</h1>

        <p>
Internet users will be able to create beautiful, elegant, and professional looking Websites with no background in programming or web development.
The core mission statement of webzide is to develop a software application and providing the services to end users which, one way or another will make their lives easier. It stands to serve the Internet community through the medium of World Wide Web. The Webzide service platform will be multipurpose and it will serve several segments of the web community. 
        </p>

        <h1>The Webzide Advantage</h1>
        <p>
          Webzide is a product of an new wave of Web2.0 software application model. The webzide platform is made possible by emerging technologies of HTML 5, CSS level 3, and Jquery. The webzide builder software is developed only using vanilla Javascript equipped with the newest version of Jquery.

This is very advantageous because all of the processing and the rendering are done on the client-side. This dramatically speeds up the application. There will fewer calls made to the server unless it is absolutely necessary.

This will save both resources of time and bandwidth. All of these are made possible by the renaissance of DHTML, Javascript and its abstract libraries such as Jquery which really have closed the gap between web applications and desktop application sover the years Webzide is developed to take full advantage of this emergence. 
        </p>

	</div> <!-- End Subpage -->

	<div class="clr divider"></div>