<%= render 'about/about_menu' %>

<div id="content">
<h3>
  How the idea of of Webzide was formed
</h3>

<p id="p1" class="paragraph_home">
  The founder of Webzide at one point, tried to make a web site for himself in order to document some of his poker advantures.
  He did not wanted a Blog simply because all blogs looks the same and he could not find a good poker themed template to meet his needs
  What the Blogs lacked was the freedom and customizibility he longed for.


</p>

<p id="p2" class="paragraph_home">
  Only to realize that there is a steep learning curve in order to launch even a simple web site.
  It was a long and painful process he went through in order to create his very own website.
  Not only he was required to have to knowledge of the markup language HTML, also the CSS for styling purposes.
  He did not stop there to learn Javascript in order to add some "life" to an otherwise static page.
</p>

</div>
