<tr>
  <td class="suggestion_box">
    <div class="suggestion_content"><%= suggestion.content %></div>
    <div class="suggestion_time">
      Posted: <%= time_ago_in_words(suggestion.created_at) %> Ago
    </div>
  </td>
</tr>


