	<div class="clr"></div>

	<div class="clr"></div>

	<div id="footer">

		<div id="footer-inner" class="container clearfix">

			<div class="one_fourth">
				<h3>Webzide</h3>
				<p>Webzide is a startup project based in Waterloo, ON. </p>
				<p><strong>Get In Touch With Us :</strong><br/>admin@webzide.com <font style="font-weight: bold">519-729-3826</font></p>
			</div>

			<div class="one_fourth">
				<h3>Help</h3>
				<ul>
					<li><a href="#">Forums</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="/suggest">Suggestions.</a></li>

				</ul>
			</div>

			<div class="one_fourth">
				<h3>Media</h3>
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="http://www.facebook.com/pages/Webzide/196479767043512">Facebook</a></li>
					<li><a href="http://twitter.com/#!/webzide">Twitter</a></li>

				</ul>
			</div>

			<div class="one_fourth last">
				<h3>Legal</h3>
				<ul>
					<li><a href="#">Legal Policy</a></li>
					<li><a href="#">Privacy Statements</a></li>
					<li><a href="#">Terms of Service</a></li>


				</ul>
			</div>

			<div class="clr"></div>

			<div id="footer-bottom">
				<p> <span class="right">Copyright &copy; 2011 <a href="#">Webzide.</a> All Rights Reserved.</span></p>
			</div>

		</div><!-- End Footer Inner -->

	</div><!-- End Footer -->
<script type="text/javascript">Cufon.now()</script>