<div id="foot">

  <div class="footerdiv">
    <ul>
      About Us
      <li>Overview</li>
      <li>Features</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="footerdiv">
    <ul>
      Help
      <li>Forums</li>
      <li>FAQ</li>
      <li>Suggestions</li>
    </ul>
  </div>

  <div class="footerdiv">
    <ul>
      Media
      <li><a href="http://webzide.wordpress.com">Blog</a></li>
      <li><a href="http://www.facebook.com/pages/Webzide/196479767043512">Facebook</a></li>
      <li><a href="http://twitter.com/#!/webzide">Twitter</a></li>
    </ul>
  </div>

  <div class="footerdiv">
    <ul>
      Legal
      <li>Legal Policy</li>
      <li>Privacy Statements</li>
      <li>Terms of Service</li>
    </ul>
  </div>
</div>

