  		<div class="left_menu">
			 <div class="menu_item">
			 	  Overview
			 </div>
			 <div class="menu_item">
			 	  Inspiration
			 </div>
			 <div class="menu_item">
			 	  Features
			 </div>
			 <div class="menu_item">
			 	  Contact
			 </div>


		</div>